pdfminer.six
uvicorn
typer
fastapi
whoosh
flask-ngrok
pyngrok
translate
python-pptx
openpyxl 
python-docx 
pandas 
matplotlib 
seaborn==0.13.1
beautifulsoup4~=4.8.0
textract==1.6.5
deep-translator
markdown2
pdfkit
pypandoc
pytesseract
paddlepaddle
paddleocr
redis
sqlalchemy
httpx
psycopg2
python-jose
aiofiles